<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm">
      <a href="#">GRAND AUBURN</a>
    </div>
    <div class="col-sm">
      <a href="#">VISTA VICTORIA</a>
    </div>
    <div class="col-sm">
      <a href="#">ASQUITH RISE - BUILDING A</a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm">
      <a href="#">RJUSE GARDEN</a>
    </div>
    <div class="col-sm">
      <a href="#">EPICA EPPING</a>
    </div>
    <div class="col-sm">
      <a href="#">STONE CUTTERS SQUARE</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron bg-info">
      <a routerLink="/become-vip"><h1 class = "display-4 text-white text-center">BECOME VIP</h1></a>
  </div>
</div>
