<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      Call us now: +61 02 1234556 | Fax: 123456 | Email:Info@vpigroup.com.au
    </div>
    <div class="col-md float-md-right">
      <span class="float-md-right">Facebook, Instagram, Twitter</span> 
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-white active" href="#">Home</a>
        <a class="nav-item nav-link text-white" href="#">For Sale</a>
        <a class="nav-item nav-link text-white" href="#">For rent</a>
        <a class="nav-item nav-link text-white" href="#">About</a>
        <a class="nav-item nav-link text-white" href="#">My favorites</a>
        <a routerLink = "/become-vip" class="nav-item nav-link text-white" href="#">Become VIP</a>
      </div>
    </div>
</nav>
